.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.name {
    color: white;
}

.navbar-brand {
    background-color: darkseagreen;
    width: 300px;
    text-align: center;
}

.mainContent {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bioPic {
    max-height: 200px;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.formRow {
    padding: 20px 0px;
}

.portImg {
    height: 300px;
}

.card-img-overlay {
    padding: 10px 0px;
}

.footer {
    position: absolute;
    width: 100%;
}

@media screen and (max-width: 640px) {
    .navbar {
        flex-direction: column;
        padding: 0;
    }

    .navbar-brand {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}