.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.name {
  color: white;
}

.navbar-brand {
  background-color: darkseagreen;
  width: 300px;
  text-align: center;
}

.mainContent {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bioPic {
  max-height: 200px;
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

.formRow {
  padding: 20px 0px;
}

.portImg {
  height: 300px;
}

.card-img-overlay {
  padding: 10px 0px;
}

.footer {
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .navbar {
      flex-direction: column;
      padding: 0;
  }

  .navbar-brand {
      width: 100%;
      margin: 0 auto;
      text-align: center;
  }
}